{% extends 'index.html' %}
{% load static %}

{%block conteudo%}
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators" style="z-index: 3;">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="z-index: 2; position: relative;">
                <img src="{% static '/img/Landhaus/Carrossel/ImgLand2.jpg' %}" class="d-block w-50 mx-auto" style="width: 100%;">
            </div>
            <div style="top: 0%; z-index: 1; position: absolute; width: 100%; filter: blur(3px);">
                <img src="{% static '/img/Landhaus/Carrossel/ImgLand2.jpg' %}" class="d-block mx-auto" style="width: 100%;">
            </div>
            <div class="carousel-caption d-none d-md-block" style="z-index: 3;">
                <h5>Conheça a Landhaus</h5>
                <p>Saiba um pouquinho mais sobre essa casa mais que aconchegante. Você vai se surpreender!</p>
            </div>
        </div>
        <div class="carousel-item">
            <div style="z-index: 2; position: relative;">
                <img src="{% static '/img/Landhaus/Carrossel/ImgLand3.jpg' %}" class="d-block w-50 mx-auto" style="width: 100%;">
            </div>
            <div style="top: 0%; z-index: 1; position: absolute; width: 100%; filter: blur(3px);">
                <img src="{% static '/img/Landhaus/Carrossel/ImgLand3.jpg' %}" class="d-block mx-auto" style="width: 100%;">
            </div>
            <div class="carousel-caption d-none d-md-block" style="z-index: 3;">
                <h5>O por do Sol</h5>
                <p>Esse pedacinho da Landhaus vai para todos os amantes de pores do sol!</p>
            </div>
        </div>
        <div class="carousel-item">
            <div style="z-index: 2; position: relative;">
                <img src="{% static '/img/Landhaus/Carrossel/ImgLand8.jpg' %}" class="d-block w-50 mx-auto" style="width: 100%;">
            </div>
            <div style="top: 0%; z-index: 1; position: absolute; width: 100%; filter: blur(3px);">
                <img src="{% static '/img/Landhaus/Carrossel/ImgLand8.jpg' %}" class="d-block mx-auto" style="width: 100%;">
            </div>
            <div class="carousel-caption d-none d-md-block" style="z-index: 3;">
                <h5>O por do Sol</h5>
                <p>Esse pedacinho da Landhaus vai para todos os amantes de pores do sol!</p>
            </div>
        </div>
    </div>
    <button style="z-index: 3;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button style="z-index: 3;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section id="home" class="py-5 text-center" style="background-color: beige;">
    <div class="container">
        <h1 class="display-4">Conheça a <strong>LandHaus</strong></h1>
        <p class="lead">Desfrute de conforto e hospitalidade em nosso espaço.</p>
    </div>
</section>

<section id="sobre" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="display-4">Muito mais que uma hospedagem...</h2>
                <p class="lead">Proporcionamos uma experiência de hospedagem inesquecivel!</p>
                <p>Nossa casa oferece quartos confortáveis, um ambiente acolhedor e uma ampla área de lazer.</p>
            </div>
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/400" alt="Casa para Hospedagem" class="img-fluid rounded float-end">
            </div>
        </div>
    </div>
</section>

<section id="sobre" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/400" alt="Casa para Hospedagem" class="img-fluid rounded float-end">
            </div>
            <div class="col-lg-8">
                <h2 class="display-4">Nossa casa é sua casa</h2>
                <p class="lead">Aqui você tem tudo que precisa para deixar aquele momento em família mais que especial.</p>
                <p>Do café da manhã até o jantar, todas as refeições são coroadas com uma vista linda do vale local.</p>
            </div>
        </div>
    </div>
</section>

<section id="sobre" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="display-4">Muito mais que uma hospedagem...</h2>
                <p class="lead">Proporcionamos uma experiência de hospedagem inesquecivel!</p>
                <p>Nossa casa oferece quartos confortáveis, um ambiente acolhedor e uma ampla área de lazer.</p>
            </div>
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/400" alt="Casa para Hospedagem" class="img-fluid rounded float-end">
            </div>
        </div>
    </div>
</section>

<section id="features" class="bg-light py-5">
    <div class="container">
        <h2 class="display-4 text-center">Recursos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://via.placeholder.com/300" alt="Quarto" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Quartos Confortáveis</h5>
                        <p class="card-text">Nossos quartos são equipados com camas confortáveis e decoração
                            aconchegante.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://via.placeholder.com/300" alt="Piscina" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Piscina</h5>
                        <p class="card-text">Relaxe e aproveite nossa bela piscina ao ar livre.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://via.placeholder.com/300" alt="Restaurante" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Restaurante</h5>
                        <p class="card-text">Delicie-se com pratos deliciosos em nosso restaurante.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock conteudo%}